@import "../styles/variables.scss";
.btn {
  font-family: $bodyFont;
  font-weight: 400;
  font-size: 0.75rem;
  border: 1px solid gray;
  color: gray;
  border-radius: 9999px;
  white-space: nowrap;
  align-items: center;
  display: flex;
  padding: 0.2rem;
  padding-right: 0.4rem;
  &:hover {
    background-color: rgb(218, 218, 218);
  }
}
// .info {
//   flex-grow: 0;
// }
.openSeaContainer {
  width: fit-content;
}
.gimmickTileButton {
  // flex-grow: 1;
  // position: absolute;
  // bottom: 0;
  // right: 0;
  // // padding-left: 1rem;
  // z-index: 3;
  // @media all and  (min-width: $mediumMax) and (max-width: $laptopMax) {
  //   padding-left: 0;
  // }
  .image {
    height: 15px;
    padding-right: 0.5rem;
  }
}