.container {
  display: flex;
  align-items: center;
  height: 100%;
}
.fistIcon {
  position: relative;
  width: 55%;
}
.eggplantIcon {
  position: relative;
  width: 45%;
}
.DICpunch {
  position: relative;
  width: 100%;
}