// fonts
$bodyFont: "Barlow", sans-serif;
$altFont: "Amatic SC", sans-serif;

// breakpoints
$xxsmallMax: 375px;
$xsmallMax: 575px;
$smallMax: 767px;
$mediumMax: 991px;
$largeMax: 1199px;
$laptopMax: 1399px;
